*{
    color: white;
    font-family: Helvetica;
	box-sizing: border-box;
}
body{
	background-color: #272727;
}
.alert{
	background-color: #F35D2C;
}
.normal{
	background-color: #0092D1;
}
.gnews{
	background-color: #63BA07;
}

p.tag{
	top: 0px;
	right: 0px;
	margin:0px;
	padding: 8px;
    text-align: center;
	border-radius: 5px 5px 0px 0px;
	box-shadow:  0px 2px 5px 0px rgba(0,0,0,0.2);
}
p.text{
	padding:10px;
	padding-top: 10px;
    clear: right;
}
div div {
	background-color: #464646;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid black;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2);
}
