body {
    background-color: #E8E8E0;
}
.item {
    background-color: lavender;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.date {
    text-align: center;
    font-weight: bold;
    display: block;
}
.image {
    display: block;
}
.title {
    font-weight: bold;
    display: block;
}
.description {
    display: block;
}